{# --- FEATURES --- #}

feature fcoe
feature npiv
no feature telnet
cfs eth distribute
feature lacp
feature vpc
feature lldp


{# --- MISC --- #}

switchname n5k-b
ip domain-lookup 
username admin password {{ password }} role network-admin

spanning-tree port type edge bpduguard default
spanning-tree port type network default

vrf context management
	ip route 0.0.0.0/0 192.168.172.1

port-channel load-balance ethernet source-dest-port


{# --- QOS --- #}

policy-map type network-qos jumbo
 	class type network-qos class-fcoe
 		pause no-drop
 		mtu 2158
 	class type network-qos class-default
 		mtu 9216
 		multicast-optimize
system qos
 	service-policy type queuing input fcoe-default-in-policy
 	service-policy type queuing output fcoe-default-out-policy
 	service-policy type qos input fcoe-default-in-policy
 	service-policy type network-qos jumbo


{# --- VLANS --- #}

vlan 1
vlan 2
 	name Native-VLAN
vlan 102
 	fcoe vsan 102
 	name FCoE_Fabric_B
vlan 3170
 	name NFS-VLAN
vlan 3173
 	name vMotion-VLAN
vlan 3174
 	name VM-Traffic-VLAN
vlan 3175
 	name IB-MGMT-VLAN
vlan 3176
 	name Packet-Control-VLAN


{# --- VPC --- #}

vpc domain 49
 	role priority 20
 	peer-keepalive destination 192.168.172.194 source 192.168.172.195
 	auto-recovery


{# --- VSAN/FC --- #}

vsan database
 	vsan 102 name "Fabric_B" 

device-alias database
 	device-alias name VM-Host-Infra-02_B pwwn 20:00:00:25:b5:00:0b:1f
device-alias commit


{# --- PORT CHANNELS --- #}

interface port-channel10
 	inherit port-profile vPC-Peer-Link
 	description vPC peer-link
 	vpc peer-link
interface port-channel11 
 	inherit port-profile FAS-data-uplink
 	description clus-01
 	switchport trunk allowed vlan 102, 3170
 	vpc 11
interface port-channel12
 	inherit port-profile FAS-data-uplink
 	description clus-02
 	switchport trunk allowed vlan 102, 3170
 	vpc 12
interface port-channel13
 	inherit port-profile UCS-Ethernet
 	description ucs-A
 	vpc 13
interface port-channel14
 	inherit port-profile UCS-Ethernet
 	description ucs-B
 	vpc 14
interface port-channel15
 	inherit port-profile UCS-FCOE-FABRIC-B
 	description ucs-A:FCoE
interface port-channel16
 	inherit port-profile 1110x
 	description NX1110X-1
 	speed 1000
 	vpc 16
interface port-channel17
 	inherit port-profile 1110x
 	description NX1110X-2
 	speed 1000
 	vpc 17


{# --- VFC INTERFACES --- #}

interface vfc11
 	bind interface Ethernet1/1
 	switchport trunk allowed vsan 102
 	switchport description clus-01:0g
 	no shutdown
interface vfc12
 	bind interface Ethernet1/2
 	switchport trunk allowed vsan 102
 	switchport description clus-02:0g
 	no shutdown
interface vfc15
 	bind interface port-channel15
 	switchport trunk allowed vsan 102
 	switchport description ucs-A:FCoE
 	no shutdown


{# --- DOES THIS NEED TO BE BELOW THE VFCs? --- #}

vsan database
 	vsan 102 interface vfc11
 	vsan 102 interface vfc12
 	vsan 102 interface vfc15


{# --- PHYSICAL INTERFACES --- #}

interface Ethernet1/1
 	description clus-01:e0g
 	switchport mode trunk
 	switchport trunk native vlan 2
 	switchport trunk allowed vlan 102,3170
 	load-interval counter 3 60
 	channel-group 11 mode active

interface Ethernet1/2
 	description clus-02:e0g
 	switchport mode trunk
 	switchport trunk native vlan 2 
 	switchport trunk allowed vlan 102,3170
 	load-interval counter 3 60
 	channel-group 12 mode active

interface Ethernet1/3
interface Ethernet1/4
interface Ethernet1/5
interface Ethernet1/6
interface Ethernet1/7
interface Ethernet1/8
interface Ethernet1/9
interface Ethernet1/10

interface Ethernet1/11
 	description ucs-A:1/20
 	switchport mode trunk
 	switchport trunk native vlan 2
 	switchport trunk allowed vlan 3170,3173-3176
 	channel-group 13 mode active

interface Ethernet1/12
 	description ucs-B:1/20
 	switchport mode trunk
 	switchport trunk native vlan 2
 	switchport trunk allowed vlan 3170,3173-3176
 	channel-group 14 mode active

interface Ethernet1/13
 	description n5k-A:1/13
 	switchport mode trunk
 	switchport trunk native vlan 2
 	switchport trunk allowed vlan 3170,3173-3176
 	channel-group 10 mode active

interface Ethernet1/14
 	description n5k-A:1/14
 	switchport mode trunk
 	switchport trunk native vlan 2
 	switchport trunk allowed vlan 3170,3173-3176
 	channel-group 10 mode active

interface Ethernet1/15
 	description NX1110X-1:2
 	switchport mode trunk
 	switchport trunk native vlan 2
 	switchport trunk allowed vlan 3175-3176
 	speed 1000
 	channel-group 16 mode active

interface Ethernet1/16
 	description NX1110X-2:2
 	switchport mode trunk
 	switchport trunk native vlan 2
 	switchport trunk allowed vlan 3175-3176
 	speed 1000
 	channel-group 17 mode active

interface Ethernet1/17

interface Ethernet1/18
 	switchport mode trunk
 	switchport trunk native vlan 2
 	switchport trunk allowed vlan 3174-3175
 	spanning-tree port type edge trunk

interface Ethernet1/19
interface Ethernet1/20
interface Ethernet1/21
interface Ethernet1/22
interface Ethernet1/23
interface Ethernet1/24
interface Ethernet1/25
interface Ethernet1/26
interface Ethernet1/27
interface Ethernet1/28
interface Ethernet1/29
interface Ethernet1/30

interface Ethernet1/31
 	description ucs-B:1/31
 	switchport mode trunk
 	switchport trunk native vlan 2
 	switchport trunk allowed vlan 102
 	channel-group 15 mode active

interface Ethernet1/32
 	description ucs-B:1/32
 	switchport mode trunk
 	switchport trunk native vlan 2
 	switchport trunk allowed vlan 102
 	channel-group 15 mode active

interface mgmt0
 	vrf member management
 	ip address 192.168.172.195/24

zone name VM-Host-Infra-01_B vsan 102
 	member pwwn 20:00:00:25:b5:00:0b:0f
 	member pwwn 20:02:00:a0:98:54:ca:a5
 	member pwwn 20:03:00:a0:98:54:ca:a5

zone name VM-Host-Infra-02_B vsan 102
 	member pwwn 20:03:00:a0:98:54:ca:a5
 	member pwwn 20:02:00:a0:98:54:ca:a5
 	member pwwn 20:00:00:25:b5:00:0b:1f

zoneset name FlexPod vsan 102
 	member VM-Host-Infra-01_B
 	member VM-Host-Infra-02_B

zoneset activate name FlexPod vsan 102